{% extends "base.twig" %}
{% block content %}

<div id="all_wrapper" class="content-container m-auto bg-light shadow d-flex flex-column p-0 p-md-5 viewer-box" style="min-height: 100%!important; ">
    <div class="card">
        <h1 class="card-header text-center">{{ glossaryItem.name }}</h1>
        <div class="card-body min-vh-100">
            <div class="mb-1 px-3 card border-0">
                <strong>
                    Begriffserklärung:
                </strong>
                <small>{% if glossaryItem.md_definition %}{{ glossaryItem.md_definition }}{% else %}<i class="text-secondary">noch nicht vorhanden</i>{% endif %}</small>
            </div>
            <div class="mb-1 px-3 card border-0">
                <strong>
                    weitere Belegstellen:
                </strong>
                <small>{% if glossaryItem.md_references %}{{ glossaryItem.md_references }}{% else %}<i class="text-secondary">noch nicht vorhanden</i>{% endif %}</small>
            </div>
            <div class="mb-1 px-3 card border-0">
                <strong>
                    Vergleiche:
                </strong>
                {% if glossaryItem["relations"]|length != 0 %}
                <ul class="list-group list-group-flush">
                    {% for relationItem in glossaryItem["relations"] %}
                        <a href="{{ webInfo.baseurl }}glossar/{{ relationItem.name }}" class="list-group-item d-flex flex-column" ><small>{{ relationItem.name }}</small></a>
                    {% endfor %}
                </ul>
                {% else %}
                    <small><i class="text-secondary">noch nicht vorhanden</i></small>
                {% endif %}
            </div>


        </div>
    </div>
    <div class="modal" tabindex="-1" id="addRelation">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Beziehung herstellen</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form hx-post="{{ webInfo.baseurl }}redaktion/glossary/add-relation" hx-select="all_wrapper" hx-swap="outerHTML">
                        <input name="subject_id" type="hidden" value="{{ glossaryItem.id }}">

                        <div class="form-floating mb-3">
                            <select class="form-select" id="floatingSelectObject"  name="object_id">
                                <option selected>Bitte Auswählen</option>
                                {% if glossaryItem.language == 'lat' %}
                                    <option disabled>---DEUTSCH---</option>
                                    {% for option in glossaryItems["german"] %}
                                        <option value="{{ option.id }}">{{ option.name }}, <small>({{ option.genus }}.)</small></option>
                                    {% endfor %}
                                    <option disabled>---LATEIN---</option>
                                    {% for option in glossaryItems["latin"] %}
                                        <option value="{{ option.id }}">{{ option.name }}, <small>({{ option.genus }}.)</small></option>
                                    {% endfor %}
                                {% else %}
                                    <option disabled>---LATEIN---</option>
                                    {% for option in glossaryItems["latin"] %}
                                        <option value="{{ option.id }}">{{ option.name }}, <small>({{ option.genus }}.)</small></option>
                                    {% endfor %}
                                    <option disabled>---DEUTSCH---</option>
                                    {% for option in glossaryItems["german"] %}
                                        <option value="{{ option.id }}">{{ option.name }}, <small>({{ option.genus }}.)</small></option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                            <label for="floatingSelectObject">Beziehung zu</label>
                        </div>
                        <div class="form-floating mb-3">
                            <select class="form-select" id="floatingSelectType"  name="relation_type">
                                <option value="translation" selected>Übersetzung</option>
                                <option value="synonym">Synonym</option>
                                <option value="antonym">Antonym</option>
                            </select>
                            <label for="floatingSelectGenus">Beziehungstyp</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="number" min="0" max="100" value="50" class="form-control" id="glossary_score"  name="score">
                            <label for="glossary_score">Score (0-100)</label>
                        </div>
                        <div class="form-floating mb-3">
                            <textarea class="form-control" id="floatingTextarea" name="notes"></textarea>
                            <label for="floatingTextarea">Notizen / Kommentar</label>
                        </div>
                        <button type="submit" class="btn btn-outline-success w-100"  >Hinzufügen</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}
