{% extends "base.twig" %}
{% block content %}

<div id="all_wrapper" class="content-container m-auto bg-light shadow d-flex flex-column p-0 p-md-5 viewer-box" style="min-height: 100%!important; ">
    <div class="card">
        <h1 class="card-header text-center">{{ glossaryItem.name }}, <small>({{ glossaryItem.genus }}.)</small></h1>
        <div class="card-body">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="glossary_name"  name="name" value="{{ glossaryItem.name }}" disabled>
                <label for="glossary_name">Wort</label>
            </div>
            <div class="form-floating mb-3">
                <select class="form-select" id="floatingSelectLanguage"  name="language" disabled>
                    <option value="ger" {% if glossaryItem.language == "ger" %}selected{% endif %}>Deutsch</option>
                    <option value="lat" {% if glossaryItem.language == "ger" %}selected{% endif %}>Latein</option>
                </select>
                <label for="floatingSelectLanguage">Sprache</label>
            </div>
            <div class="form-floating mb-3">
                <select class="form-select" id="floatingSelectGenus"  name="genus" disabled>
                    <option value="f" {% if glossaryItem.genus == "f" %}selected{% endif %}>Femininum</option>
                    <option value="m" {% if glossaryItem.genus == "m" %}selected{% endif %}>Maskulinum</option>
                    <option value="n" {% if glossaryItem.genus == "n" %}selected{% endif %}>Neutrum</option>
                </select>
                <label for="floatingSelectGenus">Genus</label>
            </div>
            <div class="form-floating mb-3">
                <textarea class="form-control" id="floatingTextarea" name="notes" disabled>{{ glossaryItem.note }}</textarea>
                <label for="floatingTextarea">Notizen / Kommentar</label>
            </div>
            <div class="w-100 d-flex flex-column flex-sm-row justify-content-between">
                <div class="w-33">
                    <h5 class="text-center text-dark">Übersetzungen</h5>
                    <ul class="list-group list-group-flush">
                        {% for relationItem in glossaryItem["relations"] %}
                            {% if relationItem.pivot.relation_type == "translation" %}
                                <a href="{{ webInfo.baseurl }}glossar/{{ relationItem.name }}" class="list-group-item d-flex flex-column" >
                                    <span>
                                        {{ relationItem.name }},
                                        <small>
                                            ({{ relationItem.genus }}.)
                                        </small>
                                    </span>
                                    <small class="text-secondary"><i>{{ relationItem.pivot.notes }}</i></small>
                                </a>

                            {% endif %}
                        {% endfor %}

                    </ul>
                </div>
                <div class="w-33">
                    <h5 class="text-center text-dark">Synonyme</h5>
                    <ul class="list-group list-group-flush">
                        {% for relationItem in glossaryItem["relations"] %}
                            {% if relationItem.pivot.relation_type == "synonym" %}
                                <a href="{{ webInfo.baseurl }}/redaktion/glossary/{{ relationItem.name }}" class="list-group-item" >{{ relationItem.name }}, <small>({{ relationItem.genus }}.)</small></a>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <div class="w-33">
                    <h5 class="text-center text-dark">Antonyme</h5>
                    <ul class="list-group list-group-flush">
                        {% for relationItem in glossaryItem["relations"] %}
                            {% if relationItem.pivot.relation_type == "antonym" %}
                            <a href="{{ webInfo.baseurl }}/redaktion/glossary/{{ relationItem.name }}" class="list-group-item" >{{ relationItem.name }}, <small>({{ relationItem.genus }}.)</small></a>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" tabindex="-1" id="addRelation">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Beziehung herstellen</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form hx-post="{{ webInfo.baseurl }}redaktion/glossary/add-relation" hx-select="all_wrapper" hx-swap="outerHTML">
                        <input name="subject_id" type="hidden" value="{{ glossaryItem.id }}">

                        <div class="form-floating mb-3">
                            <select class="form-select" id="floatingSelectObject"  name="object_id">
                                <option selected>Bitte Auswählen</option>
                                {% if glossaryItem.language == 'lat' %}
                                    <option disabled>---DEUTSCH---</option>
                                    {% for option in glossaryItems["german"] %}
                                        <option value="{{ option.id }}">{{ option.name }}, <small>({{ option.genus }}.)</small></option>
                                    {% endfor %}
                                    <option disabled>---LATEIN---</option>
                                    {% for option in glossaryItems["latin"] %}
                                        <option value="{{ option.id }}">{{ option.name }}, <small>({{ option.genus }}.)</small></option>
                                    {% endfor %}
                                {% else %}
                                    <option disabled>---LATEIN---</option>
                                    {% for option in glossaryItems["latin"] %}
                                        <option value="{{ option.id }}">{{ option.name }}, <small>({{ option.genus }}.)</small></option>
                                    {% endfor %}
                                    <option disabled>---DEUTSCH---</option>
                                    {% for option in glossaryItems["german"] %}
                                        <option value="{{ option.id }}">{{ option.name }}, <small>({{ option.genus }}.)</small></option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                            <label for="floatingSelectObject">Beziehung zu</label>
                        </div>
                        <div class="form-floating mb-3">
                            <select class="form-select" id="floatingSelectType"  name="relation_type">
                                <option value="translation" selected>Übersetzung</option>
                                <option value="synonym">Synonym</option>
                                <option value="antonym">Antonym</option>
                            </select>
                            <label for="floatingSelectGenus">Beziehungstyp</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="number" min="0" max="100" value="50" class="form-control" id="glossary_score"  name="score">
                            <label for="glossary_score">Score (0-100)</label>
                        </div>
                        <div class="form-floating mb-3">
                            <textarea class="form-control" id="floatingTextarea" name="notes"></textarea>
                            <label for="floatingTextarea">Notizen / Kommentar</label>
                        </div>
                        <button type="submit" class="btn btn-outline-success w-100"  >Hinzufügen</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}
