{% extends "base.twig" %}
{% block content %}
    <main>
        <div class="content-container m-auto bg-light shadow d-flex flex-column" style="min-height: 100%!important;">
            <div class="content-padding">
                <h1 class="p-2 p-sm-4">Aktuelles</h1>
                <hr>
                <div class="p-2 p-sm-4">
                    {% for post in data.news %}
                        <div class="d-flex border p-3">
                            <img src="{{ post.thumbnail }}"
                                 class="flex-shrink-0 me-3 mt-3" style="width:100px;height:75px;">
                            <div>
                                <h4 class="text-summa-primary"><a href="{{ webInfo.baseurl }}{{ post.slug }}" >{{ post.title }}</a> <h6 class="fst-italic">{{ post.post_date_gmt|date("d.m.Y") }}|{{ post.author.first_name }} {{ post.author.last_name }}</h6></h4>
                                <p>{{ post.preview }} </p>

                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="d-flex justify-content-between pt-5" style="padding-bottom: 0!important; margin-bottom: 0!important;">
                <img src="{{ webInfo.baseurl }}app/themes/summa/assets/img/logo/summa21_Logo_quer.png" class="d-none d-md-block align-self-end" height="50" width="auto" style="margin-bottom: 0!important;">
                <img src="{{ webInfo.baseurl }}app/themes/summa/assets/img/thomas_kopf.png" class="d-none d-md-block" height="150" width="auto">
            </div>
        </div>
    </main>
        {% endblock %}


