{% extends "base.twig" %}
{% block content %}
    <div class="content-container m-auto bg-light shadow d-flex flex-column" style="min-height: 100%!important;">
        <div class="content-padding" >
            <h1 class="p-2 p-sm-4 text-center pb-1">{{ data.post.title }}</h1>
            <h6 class="text-center fst-italic">{{ data.post.post_date_gmt|date("d.m.Y") }}|{{ data.post.author.first_name }} {{ data.post.author.last_name }}</h6>
            <hr>
            <div class="p-2 p-sm-4">
                {{ data.post.content}}
            </div>
        </div>
        <div class="d-flex justify-content-between pt-5" style="padding-bottom: 0!important; margin-bottom: 0!important;">
            <img src="{{ webInfo.baseurl }}app/themes/summa/assets/img/logo/summa21_Logo_quer.png" class="d-none d-md-block align-self-end" height="50" width="auto" style="margin-bottom: 0!important;">
            <img src="{{ webInfo.baseurl }}app/themes/summa/assets/img/thomas_kopf.png" class="d-none d-md-block" height="150" width="auto">
        </div>
    </div>


{% endblock %}
