{% extends "base.twig" %}
{% block content %}
        <div class="jumbotron project-page-img">

        </div>
        <div class="content-container m-auto bg-light shadow d-flex flex-column" style="height: 100%!important;">
            <div class="title-box align-self-center d-flex justify-content-center w-100 content-padding">
                <span class="text-center title-text">
                    Darum geht es: ein großes Buch im Latein des 13. Jahrhunderts in die Sprache des 21. Jahrhundert zu bringen. Präzise, adäquat und mit Esprit.
                </span>
            </div>
            <h5 class="text-summa-primary content-padding" style="padding-left: 75px!important;"><strong>Die Summa theologiae – was für ein Werk!</strong></h5>
            <p class="content-padding paragraph-padding">
                Thomas von Aquin (*1224/25, †1274) zählt zu den berühmtesten und bis heute einflussreichsten Philosophen
                und Theologen des Mittelalters. Die <i>Summa theologiae</i> gilt als das Hauptwerk des Thomas, das wie keine
                andere Schrift seine Wirkung und die Wirkungsgeschichte seines Denkens bestimmt. Die <i>Summa theologiae</i>,
                die eine umfassende christliche Weltdeutung vom Standpunkt einer allgemein gültigen wissenschaftlichen
                Vernunft darstellt, zählt zweifellos zu den „Great Books“ der Menschheitsgeschichte. Zwischen 1266 und
                1268 in Rom begonnen, konzipiert Thomas seine Summa mit einem explizit didaktischen Anspruch der
                Vermittlung einer zunehmend akademischen Debatte für die in der Seelsorge tätigen dominikanischen
                Mitbrüder. Das hat dem Werk bis heute eine breite Leserschaft beschert. Während seines zweiten Pariser
                Professorats zwischen 1270 und 1272 bildet die Arbeit an seiner zweiten Summa die Konstante in Thomas‘
                schier unvorstellbarem Schaffen. Von Legenden umgeben ist schließlich Thomas‘ Abbruch der Arbeit an
                seiner Summa am 1. Dezember 1273 in Neapel inmitten des Bußtraktats.</p>
            <p class="content-padding paragraph-padding">
                Die <i>Summa theologiae</i> umfasst drei Bücher, von denen das zweite noch einmal von Thomas unterteilt wird.
                Die Summa spiegelt den Diskussionsstil an den Universitäten wider und ist in Fragen (Quaestiones) und
                Teilfragen (Articuli) gegliedert. Der erste Teil (<i>Prima Pars</i>) umfasst 119 Quaestiones, die beiden Teile
                des zweiten Teils umfassen 114 Quaestiones (<i>Prima Secundae</i>) und 189 Quaestiones (<i>Secunda Secundae</i>). Vom
                dritten Teil (<i>Tertia Pars</i>) hat Thomas 90 Quaestiones fertiggestellt, ein aus seinen Werken kompiliertes
                <i>Supplementum</i> umfasst noch einmal 99 Quaestiones.
            </p>


            <h5 class="text-summa-primary content-padding" style="padding-left: 75px!important;"><strong>Anspruch und Herausforderung</strong></h5>
            <p class="content-padding paragraph-padding">
                - Ein Buch in drei Teilen (und Supplement)<br>
                - mit 512 (bzw. 612) Quaestiones<br>
                - mit 2.669 (bzw. 3.218) Articuli<br>
                - die Literatur zur <i>Summa theologiae</i> füllt viele hundert Regalmeter<br>
                - Der lateinische Text der Editio Leonina ist online verfügbar: <a href="http://www.corpusthomisticum.org/" target="_blank">http://www.corpusthomisticum.org/</a></p>
            <p class="content-padding paragraph-padding">
                Es verwundert nicht, dass die <i>Summa theologiae</i> in viele Sprachen übersetzt worden ist und dass es viele
                neue Übersetzungprojekte gibt. Eine moderne deutsche Übersetzung von Thomas‘ Hauptwerk fehlt jedoch. Die
                einzige vollständige Übersetzung der <i>Summa theologiae</i> stammt vom Ende des 19. Jahrhunderts und ist nur
                schwer verfügbar. Das 1933 von den Benediktinern begonnene und später von den Dominikanern fortgesetzte
                Projekt der „Deutschen Thomas-Ausgabe“ ist nach wie vor unvollendet und seine Sprache ist inzwischen
                veraltet und oftmals schwer verständlich.
                </p>
            <p class="content-padding paragraph-padding">
                Es braucht also eine Übersetzung, die sprachlich präzise und zugleich anschlussfähig an philosophische
                und theologische Gegenwartsdebatten ist. Das ist gar nicht so schwer: Thomas‘ eigene Sprache ist klar
                und erstaunlich modern und anschlussfähig, wie etwa die englischsprachigen Übersetzungen zeigen.
            </p>
            <p class="content-padding paragraph-padding">
                Eine gute Übersetzung überträgt Begriffe und Texte von einer Sprache in eine andere Sprache und
                eröffnet einen Zugang zum Text. Das ist auch unser Anspruch. Auf diese Weise soll die <i>Summa theologiae</i>
                rechtzeitig zum Thomas-Jubiläum ihren Platz unter den großen Büchern bekommen, deren Fragen diskutiert
                werden – gleich ob wir mit Thomas‘ Antwort übereinstimmen oder nicht.
            </p>
            <div class="corpus-box w-100 mt-5">
                <div class="bg-summa-primary d-flex flex-row-reverse" style="height: 300px!important;">
                    <div class="bg-dark project-page-leonida" style="height: 100%!important;"></div>
                    <div class="d-none d-md-block bg-summa-primary">

                    </div>


                </div>
            </div>
            <h5 class="text-summa-primary content-padding" style="padding-left: 75px!important;"><strong>Die <i>Editio Leonina</i></strong></h5>
            <p class="content-padding paragraph-padding">
                Die <i>Editio Leonina</i> geht auf Papst Leo XIII. (1810-1903) zurück, der gleich zu Beginn seines Pontifkats
                1879 die Enzyklika „Aeterni Patris“ dem 1323 heiliggesprochen und 1567 in den Rang eines Kirchenlehrers
                erhoben Thomas von Aquin widmet, den er als eine emblematische Gestalt für die Synthese von Vernunft
                und Glauben, von Philosophie und Theologie ansieht. Auch das Zweite Vatikanische Konzil empfiehlt
                Thomas ausdrücklich als Kirchenlehrer, eine Empfehlung, die durch die Enzyklika <i>Fides et ratio</i> von
                Papst Johannes Paul II. erneut bestätigt wurde. Nur wenig später gründet Leo die „Akademie des
                Heiligen Thomas von Aquin“ und bestimmt die Herausgabe aller Werke des Thomas zu deren Aufgabe. Diese
                „Commissio Leonina“ besteht bis heute und befasst sich mit der Erforschung der Überlieferung der Werke
                des Thomas und mit ihrer kritischen Edition. Die <i>Summa theologiae</i> zählte zu den vordringlichsten
                Projekten und wurde in 9 Teilbänden (den Bänden IV-XII) in den Jahren 1888-1906 herausgegeben.
                Diese Referenzausgabe, die inzwischen digitalisiert frei zugänglich ist (allerdings ohne die Apparate
                und den Kommentar des Kardinal Cajetan), liegt auch unserer Übersetzung zugrunde.
            </p>

            <div class="corpus-box w-100 mt-5">
                <div class="bg-summa-primary d-flex flex-row" style="height: 300px!important;">
                    <div class="bg-dark project-page-divider" style="height: 100%!important;"></div>
                    <div class="d-none d-md-block bg-summa-primary">
                    </div>
                </div>
            </div>
            <h5 class="text-summa-primary content-padding" style="padding-left: 75px!important;"><strong>Eines der größten Co-Science-Projekte Europas</strong></h5>
            <p class="content-padding paragraph-padding">
                Wir möchten dieses Projekt zu einem Gemeinschaftsprojekt machen. Daher haben wir es als
                Co-Science-Projekt angelegt. Werden Sie Teil unseres Übersetzer-Teams. Ein ideales Übersetzerteam für die
                <i>Summa theologiae</i> sollte neben guten Sprachkenntnissen verschiedene interdisziplinäre Kompetenzen
                repräsentieren: Theoretische Philosophie (Metaphysik, Psychologie, Erkenntnistheorie),
                Dogmatik (Gotteslehre, Christologie, Sakramentenlehre), praktische Philosophie (normative und
                angewandte Ethik), Moraltheologie, Kanonistik, Bibelexegese und natürlich Mittellatein.
            </p>
            <p class="content-padding paragraph-padding">
                Bewerben Sie sich mit einer Probeübersetzung eines Artikels derjenigen Quaestio, die sie gerne
                übersetzen würden. Ein Redaktionsteam achtet auf terminologische Kohärenz, macht Korrekturvorschläge
                und entscheidet schließlich über die Aufnahme der Übersetzung, die mit namentlichem Hinweis erscheint.
            </p>
            <p class="content-padding paragraph-padding">
                Darüber hinaus planen wir Übersetzungsworkshops und Seminar zu einzelnen Fragen, bei denen wir
                unsere Übersetzung ausprobieren.
            </p>
            <ul class="list-group list-group-flush p-5 w-100 w-50-md m-auto">
                <li class="list-group-item d-flex justify-content-center p-3">
                    <div class="w-25">
                        <i class="fas fa-highlighter text-summa-primary" style="font-size: 50px!important;"></i>
                    </div>
                    <div class="w-75">
                        <strong>Probeartikel der gewünschten Quaestio zur Bewerbung einreichen</strong>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-center p-3">
                    <div class="w-25">
                        <i class="fas fa-user-edit text-summa-primary" style="font-size: 50px!important;"></i>
                    </div>
                    <div class="w-75">
                        <strong>Nach erfolgreicher Probe wird dem Projektteilnehmer die Quaestio zur Übersetzung überantwortet</strong>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-center p-3">
                    <div class="w-25">
                        <i class="fas fa-users-cog text-summa-primary" style="font-size: 50px!important;"></i>
                    </div>
                    <div class="w-75">
                        <strong>Die Übersetzungen werden durch ein Redaktionsteam abgeglichen, diskutiert und auf begriffliche Kohärenz überprüft.</strong>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-center p-3">
                    <div class="w-25">
                        <i class="fas fa-spell-check text-summa-primary" style="font-size: 50px!important;"></i>
                    </div>
                    <div class="w-75">
                        <strong>Ein Validierungsprozess stellt abschließend die Qualität sicher und sorgt für Veröffentlichung der Quaestio.</strong>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-center p-3">
                    <div class="w-25" >
                        <i class="fas fa-glass-cheers text-summa-primary" style="font-size: 50px!important;"></i>
                    </div>
                    <div class="w-75">
                        <strong>Die neue Quaestio ist veröffentlicht, im Suchindex aufgenommen und frei zugänglich.</strong>
                    </div>
                </li>
            </ul>
            <h5 class="text-summa-primary content-padding" style="padding-left: 75px!important;"><strong>Projektstand</strong></h5>
            <div id="project-status" class="status-box align-self-center d-flex flex-column w-100 content-padding" hx-get="{{ webInfo.baseurl }}status-chapter-count"
                 hx-trigger="load"
                 hx-swap="outerHTML">
                <div class="spinner-border text-summa-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>

            </div>
            <div class="info-box d-flex flex-column flex-md-row mt-5">
                <div class="landing-page-info z-img-join"></div>
                <div class="landing-page-info-text p-3 p-md-4">
                    <h3 class="text-summa-primary">Mitwirken</h3>
                    <p>
                        Die summa21 ist als großes Gemeinschaftsprojekt angelegt. Anders lässt sich der umfangreiche Textcorpus nicht handhaben. Hier können Sie erfahren, wie Sie bei der Übersetzungsarbeit mitwirken können und wie der Übertragungsprozess angelegt ist.
                    </p>
                    <a href="{{ webInfo.baseurl }}mitwirken" class="btn btn-summa mt-3">mehr erfahren</a>
                </div>
            </div>
            <h5 class="text-summa-primary content-padding" style="padding-left: 75px!important;"><strong>Wie können Sie uns noch unterstützen?</strong></h5>
            <p class="content-padding paragraph-padding">
                Sie finden unser Projekt wichtig und möchten es anders als durch einen Übersetzungsbeitrag unterstützen?
                Das können Sie auch tun über unser crowdfunding-Konto. Denn wir benötigen einen professionellen
                Redaktionsstab, der unsere Übersetzerinnen und Übersetzer betreut und die Homepage stets aktuell hält.
                Auf Wunsch erhalten Sie über die Universität zu Köln auch eine steuerabzugsfähige Spendenquittung.
            </p>







            <h5 class="text-summa-primary content-padding"><strong>Nachrichten</strong></h5>
            <div class="content-padding news-box align-self-center d-flex flex-column flex-md-row justify-content-md-around w-100">
                {% for post in data.news %}
                <div class="card border-0 bg-transparent news-card">
                    <img src="{{ post.thumbnail }}" class="card-img-top news-img" alt="...">
                    <small class="text-end">{{ post.post_date_gmt|date("d.m.Y") }}</small>
                    <div class="card-body">
                        <h5 class="card-title text-summa-primary">{{ post.title }}</h5>
                        <p class="card-text">{{ post.preview }} <a>mehr</a></p>
                    </div>
                </div>
                {% endfor %}



            </div>



            <div class="partner-box"></div>
            <div class="d-flex justify-content-between pt-5" style="padding-bottom: 0!important; margin-bottom: 0!important;">
                <img src="{{ webInfo.baseurl }}app/themes/summa/assets/img/logo/summa21_Logo_quer.png" class="d-none d-md-block align-self-end" height="50" width="auto" style="margin-bottom: 0!important;">
                <img src="{{ webInfo.baseurl }}app/themes/summa/assets/img/thomas_kopf.png" class="d-none d-md-block" height="150" width="auto">
            </div>
        </div>

        {% endblock %}


