<div class="accordion accordion-flush" id="accordionBooks">
    {% for book in toc.0.books_no_chunks %}
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading{{ book.project_id }}">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ book.project_id }}" aria-expanded="false" aria-controls="collapse{{ book.project_id }}">
                    <strong class="text-summa-primary" style="width: 70px!important;">{{ book.thomas_id }}</strong> <span>{{ book.title_lat }}</span>
                </button>
            </h2>

            <div id="collapse{{ book.project_id }}" class="accordion-collapse collapse {% if book.project_id == works.0.books.0.project_id %}show{% endif %}" aria-labelledby="heading{{ book.project_id }}" data-bs-parent="#accordionBooks">
                <div class="accordion-body p-0">
                    <div class="accordion accordion-flush" id="accordionChapters{{ book.project_id }}">
                        {% for chapter in book.chapters_no_chunks %}
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="heading{{ book.project_id }}-{{ chapter.project_id }}">
                                    <button class="accordion-button collapsed p-1" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ book.project_id }}-{{ chapter.project_id }}" aria-expanded="false" aria-controls="collapse{{ book.project_id }}-{{ chapter.project_id }}">
                                        <strong class="text-summa-primary" style="min-width: 70px!important; margin-left: 25px!important;" >{{ chapter.thomas_id }}</strong>
                                        <span style="font-size: 16px!important;">
                                                    {% if chapter.title_lat != "" and chapter.title_ger != "" %}
                                                        {{ chapter.title_lat }} - {{ chapter.title_ger }}
                                                    {% elseif chapter.title_lat != "" %}
                                                        {{ chapter.title_lat }}
                                                    {% else %}
                                                    {% endif %}
                                        </span>
                                    </button>
                                </h2>
                                <div id="collapse{{ book.project_id }}-{{ chapter.project_id }}" class="accordion-collapse collapse {% if chapter.project_id == works.0.books.0.chapters.0.project_id%}show{% endif %}" aria-labelledby="heading{{ book.project_id }}-{{ chapter.project_id }}" data-bs-parent="#accordionChapters{{ book.project_id }}">
                                    <div class="accordion-body p-0">
                                        <ul class="list-group list-group-flush">
                                            {% for article in chapter.articles_no_chunks %}
                                                <a class="list-group-item index-list-item d-flex flex-row" href="{{ webInfo.baseurl }}index/Sth/{{ book.project_id }}/{{ chapter.project_id }}#{{ article.project_id }}">
                                                    <span class="text-summa-primary" style="min-width: 40px!important; margin-left: 35px!important; font-size: 15px!important;">{{ article.thomas_id }}</span>
                                                    <span class="text-dark" style="font-size: 15px!important; font-weight: lighter">
                                                                {% if article.title_lat != "" and article.title_ger != "" %}
                                                                    {{ article.title_lat }} - {{ article.title_ger }}
                                                                {% elseif article.title_lat != "" %}
                                                                    {{ article.title_lat }}
                                                                {% else %}
                                                                    {% if article.type == "articulus" %}
                                                                        <i>Überschrift folgt</i>
                                                                    {% endif %}
                                                                {% endif %}
                                                            </span>
                                                    <i class="fas fa-external-link-square-alt text-white"></i>
                                                </a>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>



                </div>
            </div>
        </div>
    {% endfor %}
</div>