{% extends "base.twig" %}
{% block content %}
    <main>
        <div class="content-container m-auto bg-light shadow d-flex flex-column p-3 p-md-5 viewer-box" style="height: 100%!important;">
            <table class="table">
                {% for work in works %}
                    <tr>
                        <td><h1 class="text-center">{{ work.title_lat }}</h1></td>
                        <td><h1 class="text-center">{{ work.title_ger }}</h1></td>
                    </tr>
                    {% for book in work.books %}
                        <tr>
                            <td><h2 class="text-center">{{ book.title_lat }}</h2></td>
                            <td><h2 class="text-center">{{ book.title_ger }}</h2></td>
                        </tr>
                        {% for chapter in book.chapters %}
                            <tr>
                                <td>
                                    <h3 class="text-center">{{ chapter.type_lat }}</h3>
                                    {% if chapter.title_lat %}
                                        <h6 class="text-center font-italic">
                                        {{ chapter.title_lat }}
                                        </h6>
                                    {% endif %}
                                </td>
                                <td>
                                    <h3 class="text-center">{{ chapter.type_ger }}</h3>
                                    {% if chapter.title_ger %}
                                        <h6 class="text-center font-italic">
                                        {{ chapter.title_ger }}
                                        </h6>
                                    {% endif %}
                                </td>
                            </tr>
                            {% for article in chapter.articles %}
                                {% if article.type == "articulus" %}
                                <tr id="{{ article.project_id }}">
                                    <td>
                                        <h4 class="text-center">{{ article.type_lat }}</h4>
                                        {% if article.title_lat %}
                                            <h6 class="text-center font-italic">
                                        {{ article.title_lat }}
                                            </h6>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <h4 class="text-center">{{ article.type_ger }}</h4>
                                        {% if article.title_ger %}
                                        <h6 class="text-center font-italic">
                                        {{ article.title_ger }}
                                        </h6>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endif %}
                                {% for chunk in article.chunks %}
                                    <tr>
                                        <td class="chunk-box w-50"><div class="chunk_content" id="#{{ work.project_id }}_{{ book.project_id }}_{{ chapter.project_id }}_{{ article.project_id }}_{{ chunk.project_id }}_lat">{% if chunk.text_lat!="\n" %}{{ chunk.text_lat }}{% else %}<span class="badge badge-dark">Transkription fehlt</span>{% endif %}</div></td>
                                        <td class="chunk-box w-50"><div class="chunk_content" id="#{{ work.project_id }}_{{ book.project_id }}_{{ chapter.project_id }}_{{ article.project_id }}_{{ chunk.project_id }}_ger">{% if chunk.text_ger!="\n" %}{{ chunk.text_ger }}{% else %}<small class="text-dark text-center">Für diesen Absatz fehlt eine Übersetzung: <a href="{{ webInfo.baseurl }}mitwirken" class="text-stc-primary">Übersetzer werden?</a></small>{% endif %}</div></td>
                                    </tr>
                                {% endfor %}
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}

                {% endfor %}
            </table>
        </div>
        <script>
            $(document).on("click", "sup", function () {

                var sup_id = $(this).attr("id");
                var fn_id = sup_id.replace("fnref:", "")
                fn_id = fn_id-1;
                var footnote_html = $(this).closest(".chunk_content").find('li:nth('+fn_id+')').html()
                $(".footnotes-text").html(footnote_html)
                $('#footnotes-bar').collapse("show")

            })



        </script>


    </main>
    {% include "templates/viewer.navigation.twig" %}
        {% endblock %}


