{% extends "base.twig" %}
{% block content %}

<div id="all_wrapper" class="content-container m-auto bg-light shadow d-flex flex-column p-0 p-md-5 viewer-box" style="min-height: 100%!important; ">
    <div class="card">
        {% if webInfo.alert == 1 %}
            <span class="alert alert-success mb-2 w-100">Änderungen gespeichert</span>
        {% elseif webInfo.alert == 2 %}
            <span class="alert alert-warning mb-2 w-100">Etwas ist schief gelaufen...</span>
        {% endif %}
        <div class="card-header">{{ glossaryItem.name }}</div>
        <div class="card-body" id="content_wrapper">

            <form hx-post="{{ webInfo.baseurl }}redaktion/glossary/{{ glossaryItem.name }}" hx-select="#all_wrapper" hx-target="#all_wrapper" hx-swap="outerHTML">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="name"  name="name" value="{{ glossaryItem.name }}">
                    <label for="name">Eintrag</label>
                </div>
                <div class="form-floating mb-3">
                    <select class="form-select" id="floatingSelectLanguage"  name="language">
                        <option value="ger" {% if glossaryItem.language == "ger" %}selected{% endif %}>Deutsch</option>
                        <option value="lat" {% if glossaryItem.language == "lat" %}selected{% endif %}>Latein</option>
                    </select>
                    <label for="floatingSelectLanguage">Sprache</label>
                </div>
                <div class="form-floating mb-3">
                    <textarea class="form-control" id="floatingTextarea" name="definition">{{ glossaryItem.definition }}</textarea>
                    <label for="floatingTextarea">Begriffserklärung</label>
                </div>
                <div class="card mb-3 p-3">
                    <small>{% if glossaryItem.md_definition %}{{ glossaryItem.md_definition }}{% else %}<i class="text-secondary"><small>Formatierter Text</small></i>{% endif %}</small>

                </div>
                <div class="form-floating mb-3">
                    <textarea class="form-control" id="floatingTextarea" name="references">{{ glossaryItem.references }}</textarea>
                    <label for="floatingTextarea">weitere Belegstellen</label>
                </div>
                <div class="card mb-3 p-3">
                    <small>{% if glossaryItem.md_references %}{{ glossaryItem.md_references }}{% else %}<i class="text-secondary"><small>Formatierter Text</small></i>{% endif %}</small>
                </div>

                <button class="btn btn-primary w-100 mb-3"  type="submit">Speichern</button>
            </form>

            <div class="w-100 d-flex flex-column flex-sm-row justify-content-start">
                <div class="w-33">
                    <h5 class="text-center text-dark">Vergleiche</h5>
                    <ul class="list-group list-group-flush">
                        {% for relationItem in glossaryItem["relations"] %}
                                <a href="{{ webInfo.baseurl }}/redaktion/glossary/{{ relationItem.name }}" class="list-group-item" >{{ relationItem.name }}</a>
                        {% endfor %}

                    </ul>
                </div>

            </div>
            <button class="btn btn-success w-100 mb-3"  data-bs-toggle="modal" data-bs-target="#addRelation">Beziehung hinzufügen</button>
        </div>
    </div>
    <div class="modal" tabindex="-1" id="addRelation">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Beziehung herstellen</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form hx-post="{{ webInfo.baseurl }}redaktion/glossary-add-relation" hx-select="#all_wrapper" hx-target="#all_wrapper" hx-swap="outerHTML">
                        <input name="subject_id" type="hidden" value="{{ glossaryItem.id }}">

                        <div class="form-floating mb-3">
                            <select class="form-select" id="floatingSelectObject"  name="object_id">
                                <option selected>Bitte Auswählen</option>
                                {% if glossaryItem.language == 'lat' %}
                                    <option disabled>---DEUTSCH---</option>
                                    {% for option in glossaryItems["german"] %}
                                        <option value="{{ option.id }}">{{ option.name }}</option>
                                    {% endfor %}
                                    <option disabled>---LATEIN---</option>
                                    {% for option in glossaryItems["latin"] %}
                                        <option value="{{ option.id }}">{{ option.name }}</option>
                                    {% endfor %}
                                {% else %}
                                    <option disabled>---LATEIN---</option>
                                    {% for option in glossaryItems["latin"] %}
                                        <option value="{{ option.id }}">{{ option.name }}</option>
                                    {% endfor %}
                                    <option disabled>---DEUTSCH---</option>
                                    {% for option in glossaryItems["german"] %}
                                        <option value="{{ option.id }}">{{ option.name }}</option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                            <label for="floatingSelectObject">Beziehung zu</label>
                        </div>
                        <button type="submit" class="btn btn-outline-success w-100"  >Hinzufügen</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}
