<head>
    {% block head %}
    <title>summa21 :: summa theologiae {% if webInfo.route  %}| {{ webInfo.route|lower }}{% elseif wp.posts.0.post_title %}| {{ wp.posts.0.post_title|lower }}{% endif %}</title>
    <meta charset="{{ site.charset }}" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
        <meta name="google-site-verification" content="DQFZ01vIdIxwjD770ZLLHEpYc3PYOIn37MvkSJ_aH-U" />
    <link rel="pingback" href="{{ site.pingback_url }}" />


    <link rel="stylesheet" href="{{ webInfo.baseurl }}app/themes/summa/assets/css/bootstrap.min.css" >
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>


    <script src="{{ webInfo.baseurl }}app/themes/summa/assets/js/jquery.slim.min.js"></script>
    <script src="{{ webInfo.baseurl }}app/themes/summa/assets/js/bootstrap.bundle.min.js"></script>

    <script src="{{ webInfo.baseurl }}app/themes/summa/assets/js/htmx.min.js"></script>

        <!-- STC Assets -->
    <link rel="stylesheet" href="{{ webInfo.baseurl }}app/themes/summa/assets/css/stc.style.min.css">


        <link rel="apple-touch-icon" sizes="57x57" href="{{ webInfo.baseurl }}app/themes/summa/assets/img/favicons/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="{{ webInfo.baseurl }}app/themes/summa/assets/img/favicons/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ webInfo.baseurl }}app/themes/summa/assets/img/favicons/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ webInfo.baseurl }}app/themes/summa/assets/img/favicons/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ webInfo.baseurl }}app/themes/summa/assets/img/favicons/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ webInfo.baseurl }}app/themes/summa/assets/img/favicons/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ webInfo.baseurl }}app/themes/summa/assets/img/favicons/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ webInfo.baseurl }}app/themes/summa/assets/img/favicons/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ webInfo.baseurl }}app/themes/summa/assets/img/favicons/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="{{ webInfo.baseurl }}app/themes/summa/assets/img/favicons/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ webInfo.baseurl }}app/themes/summa/assets/img/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ webInfo.baseurl }}app/themes/summa/assets/img/favicons/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ webInfo.baseurl }}app/themes/summa/assets/img/favicons/favicon-16x16.png">
        <link rel="manifest" href="{{ webInfo.baseurl }}app/themes/summa/assets/img/favicons/manifest.json">
        <meta name="msapplication-TileColor" content="#000000">
        <meta name="msapplication-TileImage" content="{{ webInfo.baseurl }}app/themes/summa/assets/img/favicons/ms-icon-144x144.png">
        <meta name="theme-color" content="#BE2C5C">




    {{ function('wp_head') }}
    {% endblock %}
</head>

