<head>
    {% block head %}
    <title>summa21 :: home</title>
    <meta charset="{{ site.charset }}" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
        <meta http-equiv=“Pragma” content=”no-cache”>
        <meta http-equiv=“Expires” content=”-1″>
        <meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
    <link rel="pingback" href="{{ site.pingback_url }}" />


    <!-- CDN -->
    <link rel="stylesheet" href="{{ webInfo.baseurl }}app/themes/summa/assets/css/bootstrap.min.css" >
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="{{ webInfo.baseurl }}app/themes/summa/assets/js/bootstrap.bundle.min.js"></script>

    <script src="https://unpkg.com/htmx.org@1.2.1"></script>

        <!-- STC Assets -->
    <link rel="stylesheet" href="{{ webInfo.baseurl }}app/themes/summa/assets/css/stc.style.min.css">


        <link rel="apple-touch-icon" sizes="57x57" href="{{ webInfo.baseurl }}app/themes/summa/assets/img/favicons/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="{{ webInfo.baseurl }}app/themes/summa/assets/img/favicons/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ webInfo.baseurl }}app/themes/summa/assets/img/favicons/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ webInfo.baseurl }}app/themes/summa/assets/img/favicons/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ webInfo.baseurl }}app/themes/summa/assets/img/favicons/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ webInfo.baseurl }}app/themes/summa/assets/img/favicons/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ webInfo.baseurl }}app/themes/summa/assets/img/favicons/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ webInfo.baseurl }}app/themes/summa/assets/img/favicons/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ webInfo.baseurl }}app/themes/summa/assets/img/favicons/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="{{ webInfo.baseurl }}app/themes/summa/assets/img/favicons/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ webInfo.baseurl }}app/themes/summa/assets/img/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ webInfo.baseurl }}app/themes/summa/assets/img/favicons/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ webInfo.baseurl }}app/themes/summa/assets/img/favicons/favicon-16x16.png">
        <link rel="manifest" href="{{ webInfo.baseurl }}app/themes/summa/assets/img/favicons/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="{{ webInfo.baseurl }}app/themes/summa/assets/img/favicons/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">


    {{ function('wp_head') }}
    {% endblock %}
</head>

