
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="{{ webInfo.baseurl }}">SUMMA<img src="{{ webInfo.baseurl }}app/themes/summa/assets/img/logo/CologneCathedralSilhouette.png" height="30"></a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{{ webInfo.baseurl }}">Home</a>
            </li>
            <li class="nav-item dropdown">
                <span class="nav-link dropdown-toggle" data-toggle="dropdown" >Werk</span>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{{ webInfo.baseurl }}geschichte-der-summa-theologiae">Geschichte der Summa Theologiae</a>
                    <a class="dropdown-item" href="{{ webInfo.baseurl }}thomas-von-aquin">Thomas von Aquin</a>
                    <a class="dropdown-item" href="{{ webInfo.baseurl }}ubersetzungshistorie">Übersetzungshistorie</a>
                    <a class="dropdown-item" href="{{ webInfo.baseurl }}editionen">Editionen</a>

                </div>
            </li>
            <li class="nav-item dropdown">
                <span class="nav-link dropdown-toggle" data-toggle="dropdown" >Über uns</span>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{{ webInfo.baseurl }}kontakt">Kontakt</a>
                    <a class="dropdown-item" href="{{ webInfo.baseurl }}team">Team</a>
                    <a class="dropdown-item" href="{{ webInfo.baseurl }}impressum">Impressum</a>
                    <a class="dropdown-item" href="{{ webInfo.baseurl }}datenschutz">Datenschutzerklärung</a>

                </div>
            </li>
            <li class="nav-item dropdown">
                <span class="nav-link dropdown-toggle" data-toggle="dropdown" >Mitmachen</span>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{{ webInfo.baseurl }}projektziel">Projektziel</a>
                    <a class="dropdown-item" href="{{ webInfo.baseurl }}guidelines">Guidelines</a>
                    <a class="dropdown-item" href="{{ webInfo.baseurl }}wie-kann-ich-ubersetzer-werden">Wie kann ich Übersetzer werden?</a>
                    <a class="dropdown-item" href="{{ webInfo.baseurl }}wie-kann-ich-das-projekt-unterstutzen">Wie kann ich das Projekt unterstützen?</a>

                </div>
            </li>
        </ul>
    </div>
</nav>

