<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
    <div class="container-fluid nav-content" >
        <a class="navbar-brand" href="{{ webInfo.baseurl }}">
            <img src="{{ webInfo.baseurl }}app/themes/summa/assets/img/logo/summa21_Logo_quer.png" alt="" width="auto" height="50">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown ">
                    <a class="nav-link {% if webInfo.route == "projekt" %}nav-link-active{% endif %} dropdown-toggle" href="#" id="pDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        PROJEKT
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="pDropdown">
                        <li><a class="dropdown-item" href="{{ webInfo.baseurl }}projekt">SUMMA21</a></li>
                        <li><a class="dropdown-item" href="{{ webInfo.baseurl }}aktuelles">AKTUELLES</a></li>
                        <li><a class="dropdown-item" href="{{ webInfo.baseurl }}team">TEAM</a></li>
                        <li><a class="dropdown-item" href="{{ webInfo.baseurl }}unterstuetzen">UNTERSTÜTZEN</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if webInfo.route == "corpus" %}nav-link-active{% endif %}" href="{{ webInfo.baseurl }}corpus" >CORPUS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if webInfo.route == "mitwirken" %}nav-link-active{% endif %}" href="{{ webInfo.baseurl }}mitwirken">MITWIRKEN</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if webInfo.route == "thomas" %}nav-link-active{% endif %}" href="{{ webInfo.baseurl }}thomas">THOMAS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if webInfo.route == "kontakt" %}nav-link-active{% endif %}" href="{{ webInfo.baseurl }}kontakt">KONTAKT</a>
                </li>
            </ul>
            <ul class="navbar-nav mb-2 mb-lg-0 align-self-start">
                <li class="nav-item" >
                    <a class="nav-link nav-link-social" href="https://lists.uni-koeln.de/mailman/listinfo/summa-newsletter/" data-bs-toggle="tooltip" data-bs-placement="left" title="Newsletter"><i class="fas fa-paper-plane"></i>  <span class="d-inline d-md-none">newsletter</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-social" href="https://www.facebook.com/profile.php?id=100073154207899" data-bs-toggle="tooltip" data-bs-placement="left" title="Facebook"><i class="fab fa-facebook"></i> <span class="d-inline d-md-none">facebook</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-social" href="https://twitter.com/summatheol21" data-bs-toggle="tooltip" data-bs-placement="left" title="Twitter"><i class="fab fa-twitter"></i> <span class="d-inline d-md-none">twitter</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

